[default]
address = "0.0.0.0"
port = 2356

# Put your solar cloud service settings below and uncomment them based on the
# service you want to use.
[default.service]
# For Hoymiles, use the following settings:
# kind = "Hoymiles"
# username = "username"
# password = "secret"
# sid = 123456

# For My Autarco, use the following settings:
# kind = "MyAutarco"
# username = "foo@domain.tld"
# password = "secret"
# site_id = "abc123de"
